.screen-container {
  color: white;

  background-color: #011638;
  height: 720px;
  width: 720px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
}

.control-center {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.switch-label {
  margin-left: 25px;
}

.thermostat {
  background-color: #364156;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 10px;
  width: 520px;
  height: 250px;
  margin: 10px;
  padding: 50px;
}
